<pre><code>Journal comptable au 17/02/2023

             138,14€  VDL:provisionnement
             120,14€    pour 2023
              32,04€      pour Communication
              60,00€      pour Maison Fablab
               5,61€      pour Organisation
              22,49€      pour Préparation
              18,00€    pour 2024
               2,00€      pour Communication:domaine
              10,00€      pour Maison Fablab
               2,00€      pour Organisation
               4,00€      pour Préparation
              50,82€  dépenses
              33,04€    communication
              30,65€      impressions
              10,60€        affiches
              20,05€        affichettes
               2,39€      site:domaine
               1,75€    formation:techniques animation:utilo
              13,01€    préparation
              10,51€      impressions
               2,94€        articles
               2,16€        lifephone
               0,74€          cartes
               1,43€          doc ademe
               5,40€        livres
               2,50€      organisation
               3,02€    rencontres:consommations
            -188,96€  recettes
            -158,31€    autofinancement porteur
             -30,65€    dons:en nature
--------------------
                   0
</code></pre>
<hr />
