/* du style css commenté et fait maison pour le site les vendredis.fr

// un projet :

// des problemes :



// des variables css sans sass ? ? ?
*/
:root {
  --blue: #4762a4;
  --rose: #c84f96;
  --pink: #da88b8;
  --orange: #ff4f2a;
  --brown: #421f1b;
  --dark: #1a1a1a;
  --light: #ffffffbb; /*#eedae9 */
  
  --hhead: 10%;
  --hfoot: 10%; 

  
  --petitT: 0.9em ;
  --normalT: 1.1em;  
  --leadT : 1.3em ;
  --bigT: 1.5em;
  --titleT: 2em; 
  --sbtitleT: 1.7em;

  --petitTlh: 1.5;
  --normalTlh: 1.6 ; 
  --leadTlh: 1.8; 

  --paddingGlobal: 2em;
  --paddingDetail : 0.5em;
  
}

/* - la base - quoi qu'il arrive COMPO & couleurs des blocs */ 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    color: var(--dark);
    background: linear-gradient(var(--orange)1%, var(--rose)15%, var(--blue)) no-repeat;
    font-size: var(--normalT); 	line-height: var(--normalTlh);
  }

#fond{
  margin: 0 auto; 
 background-image: url('visuelFond2.svg');
  background-size:auto 100%; 
  background-repeat: no-repeat;
  background-attachment:fixed; 
}

header{  
  display: block;
  position:fixed;  top:0;
  max-width:85%;
  min-height: var(--hhead);
}

  nav.menu{
    float:left; 
  }

  #enTete{ 
  float:left; 
  width: 40%;
  min-height: 12vh;
 background-image: url('enTete.svg');
 background-size:contain;
 background-repeat: no-repeat;
  }

#content{  margin-top: var(--hhead); }


footer{  display: block; position: relative;}

header, footer {
  background-color: var(--dark);
  color:var(--light);
}

  .col{
    float: left;
    display:block; 
  }



/* Media query 
aux points de ruptures suivants pour des écrans différents

 dès ultra petits  XS : 
*/

body{ 
  min-height: 700px; 
}

#fond { 
  width:95%;  
  background-position: 5vw, bottom  ;
}

header{ 
  padding: var(--paddingDetail);
 }

nav.menu{
  float:left; width: 100%;;

}
#enTete{ 
 background-position: right 10% bottom 0; 
  display:none; }
.content{ 
  padding-top: var(--hhead); 
}

section{ margin-left: 10vw; margin-right: 2vw;}

.content {width:100%; }
header, footer{ width:90%;}
 

/* portables à partir de 576px, jusqu'à 767
S  */

@media (min-width: 576px){
  
  body, #fond{  min-height: 816px;  }
   
    section{  margin-left: 10vw; margin-right: 5vw; }
}

/* tablettes et autres à paritr de 768 px, jusqu'à 991 
M  */
@media (min-width: 768px){
  
    body, #fond{     min-height: 1087px; /* height: 1403px;*/
    }
        #fond{ width:90%; 
       } 
            nav.menu{
  float:left; width: 60%;;
          }
    section{   margin-left: 20vw; margin-right: 5vw; }
}

/* desktop à partir de 992px, jusqu'à 1259  
L 
*/
@media (min-width: 992px){
  
    body, #fond{   min-height: 1404px; /*max-height: 1783px; */ } 
       #enTete{display: block;}
    section{    margin-left: 25vw; margin-right: 6vw; }
}


/* larges  à partir de 1260 px, jusqu'à 1899 
XL */
@media (min-width: 1260px){
  
    body, #fond{   min-height: 1784px; /* max-height: 2690px; */}
    section{    margin-left: 30vw; margin-right: 7vw;}
}

/* extra-larges au-dessus de 1900px, et au-delà 
XXL  */
@media (min-width: 1900px){
  
    body, #fond{   min-height: 2690px; /* max-height: 142vh */ }
  
  #fond{ background-position: 0 -10vh ; } 
  section{    margin-left: 35vw; margin-right: 8vw;}
}


/* FIN DES MEDIA QUERIES Pour s'adapter au différents écrans 

ci-dessous des trucs qui ne sont pas impactés par la taille d'affichage 

plutôt détails et micro-typos
*/ 


a, a:visited{ color: var(--blue); 
  font-weight:600; 
  transition: all 0.5s ease 0s;
}

a:active{color: var(--orange); }
a:hover{color: var(--rose);}

.lead{	font-size:var(--leadT); 	line-height: var(--leadTlh);}

header, footer {
  font-weight:600; 
  font-family:  'Roboto', "Trebuchet MS", Verdana, sans-serif;
}

.menu a, .menu a:visited{
  float:left;
  color: var(--light); 
  font-size:var(--leadT); 
  text-decoration: none;
  padding: var(--paddingDetail); 
}

.menu a:hover, .menu a:focus, .menu a:active{ 
  color: var(--orange); }

.menu a:hover{
  text-decoration: dotted;}  


footer{ 
  bottom: 0; 
  margin-top: var(--hfoot); 
  min-height: var(--hfoot);
  max-height:fit-content;
  } 

footer:after, footer:before {
  content: "";
  display: table;
  clear: both;
}

footer .col{
  width: 33.3%;
  padding: var(--paddingDetail);
  font-size: var(--petitT); 
  font-weight: 100; 
}

 
 li,  p,  ul {
padding:0.5em;
}

date { font-family:'Courier New', Courier, monospace; }
 
 h2{  font-size:var(--titleT); 
padding: var(--paddingGlobal)  var(--paddingGlobal) var(--paddingDetail) var(--paddingDetail); }


/* un titre sur deux  */
section:nth-of-type(even) h2{
 color:var(--pink);}

section:nth-of-type(odd) h2 {
 color:var(--orange);}


 section{
  background-color: var(--light);
  display: block; 
 padding: 25px; padding-top: 1rem; 
 margin-top: 5vh; margin-right: 5vw;  
} 
 

 /* à côté d'un contenu dans une section */ 
aside{
font-size: var(--petitT);  
}

aside h2 {   
   color:var(--rose);
  font-size: var(--bigT);
}
 