@media print {

    body {
      margin: 0;
      color: #000;
      background-color: #fff;
    }

.content{width: 100%;}
section{padding:1rem; margin:1rem; 
    column-width: 18em;
    column-gap: 3em;
  }
  

header, footer, #excipit{  display:none;}

}